<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
      h1{
        font-family: 'Alegreya', serif;
      }
    </style>
   <link href="https://fonts.googleapis.com/css?family=Alegreya&display=swap" rel="stylesheet">
   

  </head>
  <body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="#presentation">Presentation</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#experience">Experiences professinnels</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#diplome">Diplome</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#autreinformation">Autres informations</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contact">Contact !!!</a>
          </li>
          
        </ul>
      </div>
    </nav>
    <div class="container-fluid">
      <h1 class="text-center tailletext"> <br><br>ANALYSTE PROGRAMMEUR</h1>
      <hr>
      <div class="row">
        <div id="presentation" class="col-md-9 col-sm-9">
          TELLY Issa <br>
          11 Rue Madon Bat D3 <br>
          13005 Marseille <br>
          +33 (0) 7 66 66 94 85 <br>
          tellyissa88@gmail.com <br>
        </div>
        <div class="col-md-3 col-sm-3">
          Né le 13/07/1995 <br>
          Permis B<br>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h1  id="experience" class="text-center tailletext mt-4">EXPERIENCES PROFESSIONNELLES</h1> <hr>
          <table class="table table-striped">
            <tbody>
              <tr>
                <td>
                  <strong>Iserv MALI</strong><br>
                  <strong><u>Stagiaire</u></strong><br>
                  Développeur Web
                </td>
                <td>
                  Conseil, conception et <br>développement de sites <br> et d’applications web
                </td>
                <td>
                  <strong>6 Mois d’expérience</strong>
                  PHP/MySQL/Wordpress <br>
                  Joomla/HTML5/CSS3
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-4">
          <h1 id="diplome" class=" text-center tailletext"> DIPLOMES</h1> <hr>
          <table class="table table-striped">
            <tbody>
              <tr>
                <td>
                  <strong>2019/2020</strong>
                </td>
                <td>
                  Licence PRO (Agile) Conception Developpement <br> et Test de logiciels <strong>( En cours )</strong>
                </td>
                <td>
                  U.F.R. Saint-Charles<br>
                  Université d’Aix Marseille
                </td>
              </tr>
              <tr>
                <td>
                  <strong>2018/2019</strong>
                </td>
                <td>
                  Licence Génie logiciel et technologies web
                </td>
                <td>
                  Institut supérieur de Techonologies appliquées <br>
                  TechnoLAB - ISTA
                </td>
              </tr>
              <tr>
                <td>
                  <strong>2017/2018</strong>
                </td>
                <td>
                  Analyse Programmation
                </td>
                <td>
                  Institut supérieur de Techonologies appliquées <br>
                  TechnoLAB - ISTA
                </td>
              </tr>
              <tr>
                <td>
                  <strong>2016/2017</strong>
                </td>
                <td>
                  Analyse Programmation
                </td>
                <td>
                  Institut supérieur de Techonologies appliquées <br>
                  TechnoLAB - ISTA
                </td>
              </tr>
              <tr>
                <td>
                  <strong>2015/2016</strong>
                </td>
                <td>
                  Bac TSE ( mention AB )
                </td>
                <td>
                  Lycée HAMADOUN DICKO
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-4">
          <h1 id="autreinformation" class="text-center tailletext">AUTRES INFORMATIONS</h1>
          <hr>
          <table class="table table-striped">
            <tbody>
             <tr>
              <td>
                <strong>Technologies </strong>: Java SE/Symfony/HTML5/CSS3/Bootstrap/Git<br>
                <strong>Environnement</strong>: SublimeText, Eclipse, NetBeans,vscode <br>
                <strong>Méthodes </strong>: COO /POO / MVC / UML / MERISE <br>
                <strong>SGBD </strong>: MySQL /PostgreSQL <br>
                <strong>Systeme </strong>: Unix/Windows <br>
                <strong>Outil</strong> : Adobe Photoshop <br>
                <strong>Niveau d’anglais </strong>: Technique <br>
              </td>
              <td>
                <strong>
                Auto-Formation,Esprit d'équipe <br> Nouvelles technologies
                </strong>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>