{% extends "base.html.twig" %}
{% block title %}Change mot de passe{% endblock %}
{% block body %}
<div class="container clearfix">
<h1 class="my-5">Modificatiin du mot de passe</h1>
 {{ form_start(form) }}
 {{ form_widget(form) }}
<button type="submit" class="btn btn-success flat-right">
    i.fas.fa-check
    Enregistre la modification
    </button>
 {{ form_end(form) }}
</div>
{% endblock %}