{% extends 'base.html.twig'%}
{% block title %}Bienvenue sur le site des appartements{% endblock %}
{%  block body %}
<div class="container">
	<div class="jumbotron mt-3">
		<h1 class="display-3">Bienvenue sur la vitrine de BNB!</h1>
		<p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae, velit.</p>
		<hr class="my-4">
		<p class="lead">
			<a class="btn btn-primary btn-lg" href="#" role="button">Voir nos annonces</a>
		</p>
	</div>
	<h2 class="my-5 ">Nos appartements starss!!!</h2>
	<div class="row">
		<div class="col">
			<div class="card" style="width:18rem;">
				<div class="card-header text-center">
					3 Chambre,<strong>3000 fcfa/nuit</strong><br>
					<small>pas encore note!</small>
				</div>
				<img src="http://placehold.it/125x125" alt="image-avatar" class="float-left">
				<div class="card-body">
					<h5 class="card-title">
					Appartement de ouf !!!
					</h5>
					<p class="card-text">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, dolore.
					</p>
					<a href="#" class="btn btn-success float-right">En savoir plus</a>
					
				</div>
			</div>
		</div>
		<div class="col">
			<div class="card" style="width:18rem;">
				<div class="card-header text-center">
					3 Chambre,<strong>3000 fcfa/nuit</strong><br>
					<small>pas encore note!</small>
					
				</div>
				<img src="http://placehold.it/125x125" alt="image-avatar" class="float-left">
				<div class="card-body">
					<h5 class="card-title">
					Appartement de ouf !!!
					</h5>
					<p class="card-text">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, dolore.
					</p>
					<a href="#" class="btn btn-success float-right">En savoir plus</a>
					
				</div>
			</div>
		</div>
		<div class="col">
			<div class="card" style="width:18rem;">
				<div class="card-header text-center">
					3 Chambre,<strong>3000 fcfa/nuit</strong><br>
					<small>pas encore note!</small>
					
				</div>
				<img src="http://placehold.it/125x125" alt="image-avatar" class="float-left">
				<div class="card-body">
					<h5 class="card-title">
					Appartement de ouf !!!
					</h5>
					<p class="card-text">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, dolore.
					</p>
					<a href="#" class="btn btn-success float-right">En savoir plus</a>
					
				</div>
			</div>
		</div>
		<h2 class="my-5">Nos partenaires Stars !!!</h2>
		
	</div>
	<div class="row">
		<div class="col">
			<div class="card border-secondary">
				<div class="card body">
					<h4 class="card-tittle">Issa telly</h4>
					<div class="card-text">
						<img src="http://placehold.it/64x64" alt="photo_issa" class="flaot-left mr-3">
						<p>Lorem ipsum dolor sit amet.</p>
						<a href="" class="btn btn-primary float-right">En savoir plus</a>
					</div>
				</div>
			</div>	
		</div>
		<div class="col">
			<div class="card border-secondary">
				<div class="card body">
					<h4 class="card-tittle">Issa telly</h4>
					<div class="card-text">
						<img src="http://placehold.it/64x64" alt="photo_issa" class="flaot-left mr-3">
						<p>Lorem ipsum dolor sit amet.</p>
						<a href="" class="btn btn-primary float-right">En savoir plus</a>
					</div>
				</div>
			</div>	
		</div>
	</div>	
</div>
{% endblock %}